name: Deploy Web App

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Azure OIDC Login
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Get WebApp name
        id: meta
        run: |
          echo "name=app-${{ github.event.repository.name }}-dev" >> $GITHUB_OUTPUT
          echo "image=${{ vars.ACR_NAME }}.azurecr.io/${{ github.event.repository.name }}:latest" >> $GITHUB_OUTPUT

      - name: Deploy container to Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ steps.meta.outputs.name }}
          images: ${{ steps.meta.outputs.image }}